/backend/config/secrets/prod/prod.decrypt.private.php
/backend/public/bundles/
/backend/var/
/backend/vendor/

# Nuxt dev/build outputs
/frontend/.output/
/frontend/.data/
/frontend/.nuxt/
/frontend/nitro/
/frontend/.cache/
/frontend/package-lock.json/
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
*.DS_Store
*.fleet
*.idea

# Local env files
*.env
*.env.*
!.env.example

