
body {
  width: 100%;
  margin: 0;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  padding: $container-padding;
}

.content {
  flex: 1;
  margin-top: 20px;
}

.link {
  color: $link_color;

  &:hover {
    color: $active_text_color;
  }
}

.back-button {
  margin-bottom: 20px;
}

.header {
  max-width: 100%;
  margin: 0;
  color: $bg_text_color;
  height: $top-menu_height;
  background: $bg_main_menu;
  line-height: $top-menu_height;
}

.footer {
  max-width: 100%;
  min-height: 200px;
  background: $bg_footer;
  border-top: 1px solid rgba(0, 0, 0, 0.60);
  margin-top: 20px;
}

.main-menu {
  margin-top: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  position: relative;

  .menu-item {
    display: inline;
    text-transform: uppercase;

    &:hover {
      .submenu {
        visibility: visible;
        opacity: 1;
        display: block;
      }
    }

    & > a.active-child {
      box-shadow: 0px 0px 5px $active_text_color;
    }

    & > a {
      padding: 15px;
      text-decoration: none;
      color: $bg_text_color;
      border-radius: 3px;

      &.active {
        color: $active_text_color;
        box-shadow: 0px 0px 5px $active_text_color;
      }
    }

    .submenu {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      bottom: -70px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
      background: white;
      min-width: 150px;
      border-radius: 3px;
      font-size: 15px;
      text-transform: none;
      padding: 0;
      list-style-type: none;
      transition: .5s;

      a {
        color: black;
        padding: 0 20px;
        text-decoration: none;

        &:hover {
          color: $link_color;
        }

        &.active {
          color: $link_color;
        }
      }
    }
  }
}

.articles {
  display: flex;
  gap: 15px;

  .article {
    width: 100%;
    max-width: 300px;
    padding: 7px 20px 20px 20px;
    min-height: 200px;
    border-radius: 3px;
    color: $text_color;
    background: rgba(72, 124, 52, 0.70);
    border: 1px solid rgba(0, 0, 0, 0.60);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

    &.viewed {
      background: $bg_for_elements;
    }

    .article__author-email {
      text-transform: lowercase;
    }

    .article__header {
      display: flex;
      margin-bottom: 20px;
      justify-content: space-between;
      flex-direction: row;
    }

    .article__footer {
      display: flex;
      flex-direction: column;
    }
  }

  a {
    color: $text_color;


    &:hover {
      color: $link_color;
    }
  }
}
